.jumbotron {
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: #e4e4e4;
}

.top {
    padding-top: 2rem;
}

.rounded-circle {
    border: 4px solid black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#gallery {
    background-color: #e4e4e4;
}

section {
    padding-top: 7rem;
}

footer {
    padding-bottom: 4rem;
    background-color: #e4e4e4;
}